.hero {
  width: 100%;
  min-height: 110vh;
  background: linear-gradient(
      100deg,
      rgba(85, 106, 227, 0.7) 0%,
      rgba(13, 70, 91, 0.7) 0%,
      rgba(67, 145, 171, 0.7) 50%
    ),
    url(../../../assets/Pictures/bg1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  transform-origin: center;
}
.hero-text {
  text-align: left;
  max-width: 600px;
  margin-top: 100px;
}
.hero-text h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 900px;
  background-color: rgba(67, 145, 171, 0.7);
  padding: 6px;
  border-radius: 10px;
}
.hero-text h2 {
  padding-top: 10px;
}
.hero-text p {
  padding-top: 10px;
  text-align: justify;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

/* Name animation */
.name {
  animation: topToBottom 3s 1;
}

@keyframes topToBottom {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
/* Description Animation */
.des {
  animation: leftToRight 3s 1;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
  /* Car animation */
}
.car_img {
  height: 200px;
  animation: rightToLeft 3s 1;
  opacity: 0.8;
}
@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .name {
    z-index: 1;
  }
  .logo {
    height: 109px;
    width: 100px;
    z-index: 2;
  }
  .car_img {
    height: 100px;
  }
}
