* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 255, 255, 0.819);
  /* background-image: linear-gradient(315deg, #0694c4 26%, #9de7ef 74%); */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn1 {
  background: rgba(255, 255, 255, 0.819);
  color: #110541;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.btn1 img {
  width: 20px;
  padding-left: 5px;
}
.btn1:hover {
  background: linear-gradient(315deg, #007ea7 26%, #80ced7 74%);
  opacity: none;
  color: #fdfdfd;
}

.C-name {
  color: #110541;
}
p,
a,
span {
  font-family: "Poppins", sans;
  font-weight: 400;
}
